{% extends  "proyectoinoxidablesapp/base.html" %}

{% load static %}

{% block content %} 


<br><br><br><br><br>

{% for proyecto in proyectos %}



    <div>
        <sections class="page-section clearfix">
            <div class="container">
              <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{proyecto.imagen.url}}" alt="" >
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                  <h2 class="section-heading mb-4" >
                    <span class="section-heading-lower">{{proyecto.titulo}} </span>
                    <span class="section-heading-upper">{{proyecto.contenido}}</span>
                  </h2>
                  
                 
                </div>
              </div>
              
            </div>
        </section>
    </div> <br> 
     {% endfor %}

{% endblock %}