{% extends  "proyectoinoxidablesapp/base.html" %}

{% load static %}

{% block content %}





<div class="container-door" >

   
    
   <ul class="slider1" >
      
      <li  class="hp"><a href="#a1"><img src="{% static 'productos/img/atril1.jpg'%}" alt=""></a></li>
      <li class="hp"><a href="#a2"> <img src="{% static 'productos/img/atril2.png'%}" alt=""></a></li>
      <li class="hp"><a href="#a3"><img src="{% static 'productos/img/atril3.jpg'%} " alt=""></a></li>

   </ul>
    
   
</div>
<div class="modal" id="a1">
   <h3>Atril hospitalario</h3>
   <div class="imagen">
       <a href="#a3">&#60;</a>&nbsp;
       <a href="#a2"> <img src="{% static 'productos/img/atril1.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
       <a href="#a2"> > </a>
   </div>

   <a class="cerrar" href="">x</a>
</div>
<div class="modal" id="a2">
   <h3>Atril hospitalario</h3>
   <div class="imagen">
       <a href="#a1">&#60;</a>&nbsp;
       <a href="#a3"> <img src="{% static 'productos/img/atril2.png'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
       <a href="#a3"> > </a>
   </div>

   <a class="cerrar" href="">x</a>
</div>
<div class="modal" id="a3">
   <h3>Atril hospitalario</h3>
   <div class="imagen">
       <a href="#a2">&#60;</a>&nbsp;
       <a href="#a1"> <img src="{% static 'productos/img/atril3.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
       <a href="#a1"> > </a>
   </div>

   <a class="cerrar" href="">x</a>
</div>

 
  <div>

   <ul class="menu-slider">
      <li>ATRILES</li> &nbsp;&nbsp;
     
 </div>  
 <div>

   <ul class="menu-lineas"><br>
   
     
      <li>
        <a href="#sl4">SOPORTE PARA DISCAPACITADO</a>
     </li>
     <li>
        <a href="#sl7">POSETAS</a>
     </li>
     <li>
      <a href="#sl10">LAVAMANOS QUIRURGICO</a>
     </li>
     <li>
      <a href="#sl13">GABINETE</a>
      </li>
      <li>
         <a href="#sl16">MESA AUXILIAR</a>
      </li>
   
   
   </ul>
   </div>
     

   
   
   <div class="container-door" >

   
    
      <ul class="slider1" id="sl4">
         
         <li  class="hp"><a href="#s1"><img src="{% static 'productos/img/soporte1.jpeg'%}" alt=""></a></li>
         <li class="hp"> <a href="#s2"><img src="{% static 'productos/img/soporte2.jpg'%}" alt=""></a></li>
         <li class="hp"><a href="#s3"><img src="{% static 'productos/img/soporte3.jpeg'%} " alt=""></a></li>
   
      </ul>
     
   
   </div>
   <div class="modal" id="s1">
      <h3>Soporte para discapacitados</h3>
      <div class="imagen">
          <a href="#s3">&#60;</a>&nbsp;
          <a href="#s2"> <img src="{% static 'productos/img/soporte1.jpeg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
          <a href="#s2"> > </a>
      </div>
   
      <a class="cerrar" href="#sl4">x</a>
   </div>
   <div class="modal" id="s2">
      <h3>Soporte para discapacitado</h3>
      <div class="imagen">
          <a href="#s1">&#60;</a>&nbsp;
          <a href="#s3"> <img src="{% static 'productos/img/soporte2.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
          <a href="#s3"> > </a>
      </div>
   
      <a class="cerrar" href="#sl4">x</a>
   </div>
   <div class="modal" id="s3">
      <h3>Soporte para discapacitado</h3>
      <div class="imagen">
          <a href="#s2">&#60;</a>&nbsp;
          <a href="#s1"> <img src="{% static 'productos/img/soporte3.jpeg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
          <a href="#s1"> > </a>
      </div>
   
      <a class="cerrar" href="#sl4">x</a>
   </div>
    
   <div>
   
      <ul class="menu-slider">
         <li>SOPORTES PARA DISCAPACITADO  </li> &nbsp;&nbsp;
        
   </div>
         
     
<div>

         <ul class="menu-lineas">
         
            <li>
               <a href="">ATRIL HOSPITALARIO</a>
            </li>
           
           <li>
              <a href="#sl7">POSETAS</a>
           </li>
           <li>
            <a href="#sl10">LAVA MANOS QUIRURGICO</a>
           </li>
           <li>
            <a href="#sl13">GABINETES</a>
            </li>
            <li>
               <a href="#sl16">MESA AUXILIAR</a>
            </li>
         
         
         </ul>
         </div>
     
 
      <div class="container-door" >

   
    
         <ul class="slider1" id="sl7">
            
            <li class="hp" ><a href="#po1"><img src="{% static 'productos/img/posetas1.jpeg'%}" alt=""></a></li>
            <li class="hp"><a href="#po2"><img src="{% static 'productos/img/posetas2.jpeg'%}" alt=""></a></li>
            <li class="hp"><a href="#po3"><img src="{% static 'productos/img/posetas3.jpeg'%} " alt=""></a></li>
      
         </ul>

          
         
      </div>
      
   <div class="modal" id="po1">
         <h3>Posetas</h3>
         <div class="imagen">
             <a href="#po3">&#60;</a>&nbsp;
             <a href="#po2"> <img src="{% static 'productos/img/posetas1.jpeg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
             <a href="#po2"> > </a>
         </div>
      
         <a class="cerrar" href="#sl7">x</a>
      </div>
      <div class="modal" id="po2">
         <h3>Posetas</h3>
         <div class="imagen">
             <a href="#po1">&#60;</a>&nbsp;
             <a href="#po3"> <img src="{% static 'productos/img/posetas2.jpeg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
             <a href="#po3"> > </a>
         </div>
      
         <a class="cerrar" href="#sl7">x</a>
      </div>
      <div class="modal" id="po3">
         <h3>Posetas</h3>
         <div class="imagen">
             <a href="#po2">&#60;</a>&nbsp;
             <a href="#po1"> <img src="{% static 'productos/img/posetas3.jpeg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
             <a href="#po1"> > </a>
         </div>
      
         <a class="cerrar" href="#sl7">x</a>
      </div>
       
         </div>
      
         <ul class="menu-slider">
            <li>  POSETAS</li> &nbsp;&nbsp;
         </ul>
         <div>

            <ul class="menu-lineas"><br>
            
               <li>
                  <a href="">ATRIL HOSPITALARIO</a>
               </li>
               <li>
                 <a href="#sl4">SOPORTE PARA DISCAPACITADO</a>
              </li>
              <li>
                 <a href="#sl10">LAVAMANOS QUIRURGICO</a>
              </li>
              <li>
               <a href="#sl13">GABINETES</a>
              </li>
              <li>
               <a href="#sl16">MESA AUXILIAR</a>
               </li>
             
            
            
            </ul>
            </div>

 

         <div class="container-door" >

   
    
            <ul class="slider1" id="sl10">

               <li  class="hp"><a href="#l1"><img src="{% static 'productos/img/lavamanos1.jpeg'%}" alt=""></a></li>
               <li class="hp"> <a href="#l2"><img src="{% static 'productos/img/lavamanos2.jpg'%}" alt=""></a></li>
               <li class="hp"><a href="#l3"><img src="{% static 'productos/img/lavamanos3.png'%} " alt=""></a></li>
      
         </ul>
             
            
         </div>
         <div class="modal" id="l1">
            <h3>Lavamanos quirugicos</h3>
            <div class="imagen">
                <a href="#l3">&#60;</a>&nbsp;
                <a href="#l2"> <img src="{% static 'productos/img/lavamanos1.jpeg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                <a href="#l2"> > </a>
            </div>
         
            <a class="cerrar" href="#sl10">x</a>
         </div>
         <div class="modal" id="l2">
            <h3>Lavamanos quirugicos</h3>
            <div class="imagen">
                <a href="#l1">&#60;</a>&nbsp;
                <a href="#l3"> <img src="{% static 'productos/img/lavamanos2.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                <a href="#l3"> > </a>
            </div>
         
            <a class="cerrar" href="#sl10">x</a>
         </div>
         <div class="modal" id="l3">
            <h3>Lavamanos quirugicos</h3>
            <div class="imagen">
                <a href="#l2">&#60;</a>&nbsp;
                <a href="#l1"> <img src="{% static 'productos/img/lavamanos3.png'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                <a href="#l1"> > </a>
            </div>
         
            <a class="cerrar" href="#sl10">x</a>
         </div>
      
         
            <ul class="menu-slider">
               <li>LAVAMANOS QUIRURGICO  </li> &nbsp;&nbsp;

            </ul>
            <div>

               <ul class="menu-lineas"><br>
               
                  <li>
                     <a href="">ATRILES</a>
                  </li>
                  <li>
                    <a href="#sl4">SOPORTE PARA DISCAPACITADO</a>
                 </li>
                 <li>
                    <a href="#sl7">POSETAS</a>
                 </li>
                 <li>
                  <a href="#sl13">GABINETES</a>
                 </li>
                 <li>
                  <a href="#sl16">MESA AXULIAR</a>
                  </li>
                 
               
               
               </ul>
               </div>

            <div class="container-door" >

   
    
               <ul class="slider1" id="sl13">
                  
                  <li  class="hp"><a href="#g1"><img src="{% static 'productos/img/gabinetes1.jpg'%}" alt=""></a></li>
                  <li class="hp"> <a href="#g2"><img src="{% static 'productos/img/gabinetes2.jpg'%}" alt=""></a></li>
                  <li class="hp"><a href="#g3"><img src="{% static 'productos/img/gabinetes3.png'%} " alt=""></a></li>
            
               </ul>
             
                
               
            </div>
            <div class="modal" id="g1">
               <h3>Gabinetes</h3>
               <div class="imagen">
                   <a href="#g3">&#60;</a>&nbsp;
                   <a href="#g2"> <img src="{% static 'productos/img/gabinetes1.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                   <a href="#g2"> > </a>
               </div>
            
               <a class="cerrar" href="#sl13">x</a>
            </div>
            <div class="modal" id="g2">
               <h3>Gabinetes</h3>
               <div class="imagen">
                   <a href="#g1">&#60;</a>&nbsp;
                   <a href="#g3"> <img src="{% static 'productos/img/gabinetes2.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                   <a href="#g3"> > </a>
               </div>
            
               <a class="cerrar" href="#sl13">x</a>
            </div>
            <div class="modal" id="g3">
               <h3>Gabinetes</h3>
               <div class="imagen">
                   <a href="#g2">&#60;</a>&nbsp;
                   <a href="#g1"> <img src="{% static 'productos/img/gabinetes3.png'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                   <a href="#g1"> > </a>
               </div>
            
               <a class="cerrar" href="#sl13">x</a>
            </div>
            
            
             
               </div>
            
               <ul class="menu-slider">
                  <li>GABINETES</li>
               </ul>
               <div>

                  <ul class="menu-lineas"><br>
                  
                     <li>
                        <a href="">ATRILES</a>
                     </li>
                     <li>
                       <a href="#sl4">SOPORTE PARA DISCAPACITADO</a>
                    </li>
                    <li>
                       <a href="#sl7">POSETAS</a>
                    </li>
                    <li>
                     <a href="#sl10">LAVAMANOS QUIRURGICO</a>
                    </li>
                    <li>
                     <a href="#sl16">MESA AUXILIAR</a>
                     </li>
                    
                  
                  
                  </ul>
                  </div>
               <div class="container-door" >

   
    
                  <ul class="slider1" id="sl16">
                     
                     <li  class="hp"><a href="#au1"><img src="{% static 'productos/img/AUX1.jpg'%}" alt=""></a></li>
                     <li class="hp"><a href="#au2"> <img src="{% static 'productos/img/AUX2.webp'%}" alt=""></a></li>
                     <li class="hp"><a href="#au3"><img src="{% static 'productos/img/AUX3.jpg'%} " alt=""></a></li>
               
                  </ul>   
               </div>
               
               <div class="modal" id="au1">
                  <h3>Mesa auxiliar</h3>
                  <div class="imagen">
                      <a href="#au3">&#60;</a>&nbsp;
                      <a href="#au2"> <img src="{% static 'productos/img/AUX1.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                      <a href="#au2"> > </a>
                  </div>
               
                  <a class="cerrar" href="#sl16">x</a>
               </div>
               <div class="modal" id="au2">
                  <h3>Mesa auxiliar</h3>
                  <div class="imagen">
                      <a href="#au1">&#60;</a>&nbsp;
                      <a href="#au3"> <img src="{% static 'productos/img/AUX2.webp'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                      <a href="#au3"> > </a>
                  </div>
               
                  <a class="cerrar" href="#sl16">x</a>
               </div>
               <div class="modal" id="au3">
                  <h3>Mesa auxiliar</h3>
                  <div class="imagen">
                      <a href="#au2">&#60;</a>&nbsp;
                      <a href="#au1"> <img src="{% static 'productos/img/AUX3.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                      <a href="#au1"> > </a>
                  </div>
               
                  <a class="cerrar" href="#sl16">x</a>
               </div>
               
                  <ul class="menu-slider">
                     <li>MESA AUXILIAR</li> &nbsp;&nbsp;
                  
                  </ul>
                  <div>

                     <ul class="menu-lineas"><br>
                     
                        <li>
                           <a href="">ATRILES</a>
                        </li>
                        <li>
                          <a href="#sl4">SOPORTE PARA DISCAPACITADO</a>
                       </li>
                       <li>
                          <a href="#sl7">POSETAS</a>
                       </li>
                       <li>
                        <a href="#sl10">LAVAMANOS QUIRURGICO</a>
                       </li>
                       <li>
                        <a href="#sl13">GABINETES</a>
                     </li>
                       
                      
                     
                     
                     </ul>
                     </div>

{% endblock %}
