{% extends  "proyectoinoxidablesapp/base.html" %}

{% load static %}

{% block content %}





<div class="container-door" >
 
   <ul class="slider1" >
      
      <li  class="hp"><a href="#po1"><img src="{% static 'productos/img/porton1.jpg'%}" alt=""></a></li>
      <li class="hp"><a href="#po2"> <img src="{% static 'productos/img/porton2.jpg'%}" alt=""></a></li>
      <li class="hp"><a href="#po3"><img src="{% static 'productos/img/porton3.jpg'%} " alt=""></a></li>

   </ul>     
</div>
<div class="modal" id="po1">
   <h3>Portones</h3>
   <div class="imagen">
       <a href="#po3">&#60;</a>&nbsp;
       <a href="#po2"> <img src="{% static 'productos/img/porton1.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
       <a href="#po2"> > </a>
   </div>

   <a class="cerrar" href="">x</a>
</div>
<div class="modal" id="po2">
   <h3>Portones</h3>
   <div class="imagen">
       <a href="#po1">&#60;</a>&nbsp;
       <a href="#po3"> <img src="{% static 'productos/img/porton2.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
       <a href="#po3"> > </a>
   </div>

   <a class="cerrar" href="">x</a>
</div>
<div class="modal" id="po3">
   <h3>Portones</h3>
   <div class="imagen">
       <a href="#po2">&#60;</a>&nbsp;
       <a href="#po1"> <img src="{% static 'productos/img/porton3.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
       <a href="#po1"> > </a>
   </div>

   <a class="cerrar" href="">x</a>
</div>

 
  <div>

   <ul class="menu-slider">
      <li>PORTONES </li> 
   
 </div>  
 <div>

   <ul class="menu-lineas"><br>
   
     
      <li>
        <a href="#sl4">CESTAS DE BASURA</a>
     </li>
     <li>
        <a href="#sl7">REGILLA HUMEDA</a>
     </li>
     <li>
      <a href="#sl10">TRAMPA PARA GRASA</a>
     </li>
     <li>
      <a href="#sl13">GABINETE</a>
      </li>
      <li>
         <a href="#sl16">BATERIA DE BAÑO</a>
      </li>
   
   
   </ul>
   </div>
   
     

   
   
   <div class="container-door" >

   
    
      <ul class="slider1" id="sl4">
         
         <li  class="hp"><a href="#c1"><img src="{% static 'productos/img/basurero1.jpg'%}" alt=""></a></li>
         <li class="hp"><a href="#c2"> <img src="{% static 'productos/img/basurero2.jpg'%}" alt=""></a></li>
         <li class="hp"><a href="#c3"><img src="{% static 'productos/img/basurero3.jpg'%} " alt=""></a></li>
   
      </ul>
    
       
      
   
   </div>

<div class="modal" id="c1">
   <h3>Cestas de basura</h3>
   <div class="imagen">
       <a href="#c3">&#60;</a>&nbsp;
       <a href="#c2"> <img src="{% static 'productos/img/basurero1.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
       <a href="#c2"> > </a>
   </div>

   <a class="cerrar" href="#sl4">x</a>
</div>
<div class="modal" id="c2">
   <h3>Cestas de basura</h3>
   <div class="imagen">
       <a href="#c1">&#60;</a>&nbsp;
       <a href="#c3"> <img src="{% static 'productos/img/basurero2.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
       <a href="#c3"> > </a>
   </div>

   <a class="cerrar" href="#sl4">x</a>
</div>
<div class="modal" id="c3">
   <h3>Cestas de basura</h3>
   <div class="imagen">
       <a href="#c2">&#60;</a>&nbsp;
       <a href="#c1"> <img src="{% static 'productos/img/basurero3.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
       <a href="#c1"> > </a>
   </div>

   <a class="cerrar" href="#sl4">x</a>
</div>
   <div>
   
      <ul class="menu-slider">
         <li>Cestas de basura  </li>
       
      </ul>
   </div>
         
     
<div>

         <ul class="menu-lineas">
         
            <li>
               <a href="">PORTONES</a>
            </li>
           
           <li>
              <a href="#sl7">REGILLA HUMEDA</a>
           </li>
           <li>
            <a href="#sl10">TRAMPA PARA GRASA</a>
           </li>
           <li>
            <a href="#sl13">GABINETES</a>
            </li>
            <li>
               <a href="#sl16">BATERIAS DE BAÑO</a>
            </li>
         
         
         </ul>
         </div>
     
 
      <div class="container-door" >

   
    
         <ul class="slider1" id="sl7">
            
            <li class="hp" ><a href="#reg1"><img src="{% static 'productos/img/regilla1.jpg'%}" alt=""></a></li>
            <li class="hp"><a href="#reg2"><img src="{% static 'productos/img/regilla2.png'%}" alt=""></a></li>
            <li class="hp"><a href="#reg3"><img src="{% static 'productos/img/regilla8.jpg'%} " alt=""></a></li>
      
         </ul>
       
          
         
      </div>
      <div class="modal" id="reg1">
         <h3>Regilla humeda</h3>
         <div class="imagen">
             <a href="#reg3">&#60;</a>&nbsp;
             <a href="#reg2"> <img src="{% static 'productos/img/regilla1.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
             <a href="#reg2"> > </a>
         </div>
      
         <a class="cerrar" href="#sl7">x</a>
      </div>
      <div class="modal" id="reg2">
         <h3>Regilla humeda</h3>
         <div class="imagen">
             <a href="#reg1">&#60;</a>&nbsp;
             <a href="#reg3"> <img src="{% static 'productos/img/regilla2.png'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
             <a href="#reg3"> > </a>
         </div>
      
         <a class="cerrar" href="#sl7">x</a>
      </div>
      <div class="modal" id="reg3">
         <h3>Regilla humeda</h3>
         <div class="imagen">
             <a href="#reg2">&#60;</a>&nbsp;
             <a href="#reg1"> <img src="{% static 'productos/img/regilla3.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
             <a href="#reg1"> > </a>
         </div>
      
         <a class="cerrar" href="#sl7">x</a>
      </div>
      
       
      
      
         <ul class="menu-slider">
            <li>  REGILLA HUMEDA </li> 
          
           
           
      
         </ul>
         <div>

            <ul class="menu-lineas"><br>
            
               <li>
                  <a href="">PORTONES</a>
               </li>
               <li>
                 <a href="#sl4">CESTAS DE BASURA</a>
              </li>
              <li>
                 <a href="#sl10">TRAMPA PARA GRASA</a>
              </li>
              <li>
               <a href="#sl13">GABINETES</a>
              </li>
              <li>
               <a href="#sl16">BATERIAS DE BAÑO</a>
               </li>
             
            
            
            </ul>
            </div>

 

         <div class="container-door" >

   
    
            <ul class="slider1" id="sl10">

               <li  class="hp"> <a href="#t1"><img src="{% static 'productos/img/trampa1.jpg'%}" alt=""></a></li>
               <li class="hp">  <a href="#t2"><img src="{% static 'productos/img/trampa2.png'%}" alt=""></a></li>
               <li class="hp"> <a href="#t3"><img src="{% static 'productos/img/trampa3.jpg'%} " alt=""></a></li>

            </ul>
         
         </div>
         <div class="modal" id="t1">
            <h3>Trampa para grasa</h3>
            <div class="imagen">
                <a href="#t3">&#60;</a>&nbsp;
                <a href="#t2"> <img src="{% static 'productos/img/trampa1.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                <a href="#t2"> > </a>
            </div>
         
            <a class="cerrar" href="#sl10">x</a>
         </div>
         <div class="modal" id="t2">
            <h3>Trapa para grasa</h3>
            <div class="imagen">
                <a href="#t1">&#60;</a>&nbsp;
                <a href="#t3"> <img src="{% static 'productos/img/trampa2.png'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                <a href="#t3"> > </a>
            </div>
         
            <a class="cerrar" href="#sl10">x</a>
         </div>
         <div class="modal" id="t3">
            <h3>Trapa para grasa</h3>
            <div class="imagen">
                <a href="#t2">&#60;</a>&nbsp;
                <a href="#t1"> <img src="{% static 'productos/img/trampa3.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                <a href="#t1"> > </a>
            </div>
         
            <a class="cerrar" href="#sl10">x</a>
         </div>
         
          
            </div>
         
            <ul class="menu-slider">
               <li>TRAMPA PARA GRASA  </li> &nbsp;&nbsp;
             
              
              
         
            </ul>
            <div>

               <ul class="menu-lineas"><br>
               
                  <li>
                     <a href="">PORTONES</a>
                  </li>
                  <li>
                    <a href="#sl4">CESTAS DE BASURA</a>
                 </li>
                 <li>
                    <a href="#sl7">REGILLA HUMEDA</a>
                 </li>
                 <li>
                  <a href="#sl13">GABINETES</a>
                 </li>
                 <li>
                  <a href="#sl16">BATERIAS DE BAÑO</a>
                  </li>
                 
               
               
               </ul>
               </div>

            <div class="container-door" >

   
    
               <ul class="slider1" id="sl13">
                  
                  <li  class="hp"> <a href="#ga1"><img src="{% static 'productos/img/gabinetes1.jpg'%}" alt=""> </a> </li>
                  <li class="hp"> <a href="#ga2"> <img src="{% static 'productos/img/gabinetes2.jpg'%}" alt=""> </a> </li>
                  <li class="hp"> <a href="#ga3"><img src="{% static 'productos/img/gabinetes3.png'%} " alt=""> </a> </li>
            
               </ul>
               
                
               
            </div>
            <div class="modal" id="ga1">
               <h3>Gabinetes</h3>
               <div class="imagen">
                   <a href="#ga3">&#60;</a>&nbsp;
                   <a href="#ga2"> <img src="{% static 'productos/img/gabinetes1.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                   <a href="#ga2"> > </a>
               </div>
            
               <a class="cerrar" href="#sl13">x</a>
            </div>
            <div class="modal" id="ga2">
               <h3>Gabinetes</h3>
               <div class="imagen">
                   <a href="#ga1">&#60;</a>&nbsp;
                   <a href="#ga3"> <img src="{% static 'productos/img/gabinetes2.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                   <a href="#ga3"> > </a>
               </div>
            
               <a class="cerrar" href="#sl13">x</a>
            </div>
            <div class="modal" id="ga3">
               <h3>Gabinetes</h3>
               <div class="imagen">
                   <a href="#ga2">&#60;</a>&nbsp;
                   <a href="#ga1"> <img src="{% static 'productos/img/gabinetes3.png'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                   <a href="#ga1"> > </a>
               </div>
            
               <a class="cerrar" href="#sl13">x</a>
            </div>
            
             
             
            
               <ul class="menu-slider">
                  <li>GABINETES</li>
            
            
               </ul>
               <div>

                  <ul class="menu-lineas"><br>
                  
                     <li>
                        <a href="">PORTONES</a>
                     </li>
                     <li>
                       <a href="#sl4">CESTAS DE BASURA</a>
                    </li>
                    <li>
                       <a href="#sl7">REGILLA HUMEDA</a>
                    </li>
                    <li>
                     <a href="#sl10">TRAMPA PARA GRASA</a>
                    </li>
                    <li>
                     <a href="#sl16">BATERIAS DE BAÑO</a>
                     </li>
                    
                  
                  
                  </ul>
                  </div>
               <div class="container-door" >
                  <ul class="slider1" id="sl16">

                     <li  class="hp"><a href="#ba1"><img src="{% static 'productos/img/bateria1.jpg'%}" alt=""></a></li>
                     <li class="hp"><a href="#ba2"><img src="{% static 'productos/img/bateria2.jpg'%}" alt=""></a></li>
                     <li class="hp"><a href="#ba3"><img src="{% static 'productos/img/bateria3.jpg'%} " alt=""></a></li>
               
                  </ul>
                 
                   
                  
               </div>
               <div class="modal" id="ba1">
                  <h3>Gabinetes</h3>
                  <div class="imagen">
                      <a href="#ba3">&#60;</a>&nbsp;
                      <a href="#ba2"> <img src="{% static 'productos/img/bateria1.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                      <a href="#ba2"> > </a>
                  </div>
               
                  <a class="cerrar" href="#sl16">x</a>
               </div>
               <div class="modal" id="ba2">
                  <h3>Gabinetes</h3>
                  <div class="imagen">
                      <a href="#ba1">&#60;</a>&nbsp;
                      <a href="#ba3"> <img src="{% static 'productos/img/bateria2.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                      <a href="#ba3"> > </a>
                  </div>
               
                  <a class="cerrar" href="#sl16">x</a>
               </div>
               <div class="modal" id="ba3">
                  <h3>Gabinetes</h3>
                  <div class="imagen">
                      <a href="#ba2">&#60;</a>&nbsp;
                      <a href="#ba1"> <img src="{% static 'productos/img/bateria3.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                      <a href="#ba1"> > </a>
                  </div>
               
                  <a class="cerrar" href="#sl16">x</a>
               </div>
               
               
               
                
                  <div>
               
                  <ul class="menu-slider">
                     <li>BATERIAS DE BAÑO</li> &nbsp;&nbsp;
                     <li>
                        <a href="#sl16">1</a>
                     </li>
                     <li>
                       <a href="#sl17">2</a>
                    </li>
                    <li>
                       <a href="#sl18">3</a>
                    </li>
                    
               
                  </ul>
                  </div>
                  <div>

                     <ul class="menu-lineas"><br>
                     
                        <li>
                           <a href="">PORTONES</a>
                        </li>
                        <li>
                          <a href="#sl4">CESTAS PARA BAÑO</a>
                       </li>
                       <li>
                          <a href="#sl7">REGILLA HUMEDA</a>
                       </li>
                       <li>
                        <a href="#sl10">TRAMPAS PARA GRASA</a>
                       </li>
                       <li>
                        <a href="#sl13">GABINETES</a>
                     </li>
                       
                      
                     
                     
                     </ul>
                     </div>

{% endblock %}
