{% extends  "proyectoinoxidablesapp/base.html" %}

{% load static %}

{% block content %}


<div class="img_final" style="margin-left: auto; margin-right: auto;"  >

    <ul class="cambiante" style="height: 700px;">
        
        <li id="puerta1"><img src="{% static 'productos/img/puerta1.jpg'%} " alt="" style="width: 500px;" ></li>
        <li id="puerta2"><img src="{% static 'productos/img/puerta6.jpg'%} " alt="" style="width: 500px;" ></li>
        <li id="puerta3"><img src="{% static 'productos/img/puerta4.jpg'%} " alt="" style="width: 500px;" ></li>
        <li id="puerta4"><img src="{% static 'productos/img/puerta5.jpg'%} " alt="" style="width: 500px;" ></li>

    </ul>


</div>






{% endblock %}