{% extends  "proyectoinoxidablesapp/base.html" %}

{% load static %}

{% block content %}

<div  class="iconowatsap"  > <a href="https://wa.link/51kvdl"   target="blank"><img src=" {% static 'proyectoinoxidablesapp/img/watlogo.png'%}" width="100"  alt=""  ></a> </div>

<div class="container-door"  >

  
    
   <ul class="slider1" >
      
     
      <li ><a href="#p1"><img src="{% static 'productos/img/p1.jpg'%}" alt="" ></a> </li>
      <li ><a href="#p2"><img src="{% static 'productos/img/p2.jpg'%}" alt=""></a> </li>
      <li ><a href="#p3"><img src="{% static 'productos/img/p3.jpg'%} " alt=""> </a></li>
      

   </ul>
  
    
   
</div>
<div class="modal" id="p1">
   <h3>Puertas</h3>
   <div class="imagen">
       <a href="#p3">&#60;</a>&nbsp;
       <a href="#p2"> <img src="{% static 'productos/img/p1.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
       <a href="#p2"> > </a>
   </div>

   <a class="cerrar" href="">x</a>
</div>
<div class="modal" id="p2">
   <h3>Puertas</h3>
   <div class="imagen">
       <a href="#p1">&#60;</a>&nbsp;
       <a href="#p3"> <img src="{% static 'productos/img/p2.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
       <a href="#p3"> > </a>
   </div>

   <a class="cerrar" href="">x</a>
</div>
<div class="modal" id="p3">
   <h3>Puertas</h3>
   <div class="imagen">
       <a href="#p2">&#60;</a>&nbsp;
       <a href="#p1"> <img src="{% static 'productos/img/p3.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
       <a href="#p1"> > </a>
   </div>

   <a class="cerrar" href="">x</a>
</div>
 
  <div>

   <ul class="menu-slider">
     
      
      <li>PUERTAS  </li> &nbsp;&nbsp;

     
 </div>  
 <div>

   <ul class="menu-lineas"><br>
   
      <li>
        <a href="#sl4">VENTANAS</a>
     </li>
     <li>
        <a href="#sl7">PASAMANOS</a>
     </li>
     <li>
      <a href="#sl10">REJAS</a>
     </li>
     <li>
      <a href="#sl16">DIVICIONES DE BAÑO</a>
      </li>
      <li>
         <a href="#sl13">REPISAS</a>
      </li>
   
   
   </ul>
   </div>
     

   
   
   <div class="container-door" >

   
    
      <ul class="slider1" id="sl4">
         
         <li  class="hp"><a href="#v1"><img src="{% static 'productos/img/vet1.jpg'%}" alt=""></a></li>
         <li class="hp"><a href="#v2">  <img src="{% static 'productos/img/vet2.jpg'%}" alt=""></a></li>
         <li class="hp"><a href="#v3"> <img src="{% static 'productos/img/vet3.jpg'%} " alt=""></a></li>
   
      </ul>
     
      
   </div>
   <div class="modal" id="v1">
      <h3>Ventanas</h3>
      <div class="imagen">
          <a href="#v3">&#60;</a>&nbsp;
          <a href="#v2"> <img src="{% static 'productos/img/vet1.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
          <a href="#v2"> > </a>
      </div>
   
      <a class="cerrar" href="#sl4">x</a>
   </div>

   <div class="modal" id="v2">
      <h3>Ventanas</h3>
      <div class="imagen">
          <a href="#v1">&#60;</a>&nbsp;
          <a href="#v3"> <img src="{% static 'productos/img/vet2.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
          <a href="#v3"> > </a>
      </div>
   
      <a class="cerrar" href="#sl4">x</a>
   </div>
   <div class="modal" id="v3">
      <h3>Ventanas</h3>
      <div class="imagen">
          <a href="#v2">&#60;</a>&nbsp;
          <a href="#v1"> <img src="{% static 'productos/img/vet3.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
          <a href="#v1"> > </a>
      </div>
   
      <a class="cerrar" href="#sl4">x</a>
   </div>
   
    
    
   
      <ul class="menu-slider">
         <li>VENTANAS  </li> 
       
        
        
   
      </ul>
      <div>

         <ul class="menu-lineas"><br>
         
            <li>
               <a href="">PUERTAS</a>
            </li>
         
           <li>
              <a href="#sl7">PASAMANOS</a>
           </li>
           <li>
            <a href="#sl10">REJAS</a>
           </li>
           <li>
            <a href="#sl16">DIVICIONES DE BAÑO</a>
            </li>
            <li>
               <a href="#sl13">REPISAS</a>
            </li>
         
         
         </ul>
         </div>

 
      <div class="container-door" >

         <ul class="slider1" id="sl7">
            
            <li class="hp" ><a href="#m1"><img src="{% static 'productos/img/mano1.jpg'%}" alt=""></a></li>
            <li class="hp"><a href="#m2"> <img src="{% static 'productos/img/mano2.jpg'%}" alt=""></a></li>
            <li class="hp"><a href="#m3"><img src="{% static 'productos/img/mano3.jpg'%} " alt=""></a></li>
      
         </ul>
   
      </div>
      <div class="modal" id="m1">
         <h3>Pasamanos</h3>
         <div class="imagen">
             <a href="#m3">&#60;</a>&nbsp;
             <a href="#m2"> <img src="{% static 'productos/img/mano1.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
             <a href="#m2"> > </a>
         </div>
      
         <a class="cerrar" href="#sl7">x</a>

      </div>
      </div>
      <div class="modal" id="m2">
         <h3>Pasamanos</h3>
         <div class="imagen">
             <a href="#m1">&#60;</a>&nbsp;
             <a href="#m3"> <img src="{% static 'productos/img/mano2.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
             <a href="#m3"> > </a>
         </div>
      
         <a class="cerrar" href="#sl7">x</a>
      </div>
      <div class="modal" id="m3">
         <h3>Pasamanos</h3>
         <div class="imagen">
             <a href="#m2">&#60;</a>&nbsp;
             <a href="#m1"> <img src="{% static 'productos/img/mano3.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
             <a href="#m1"> > </a>
         </div>
      
         <a class="cerrar" href="#sl7">x</a>
      </div>
      
       
        
      
         <ul class="menu-slider">
            <li>  PASAMANOS  </li>
          
           
           
      
         </ul>
         <div>

            <ul class="menu-lineas"><br>
            
               <li>
                  <a href="">PUERTAS</a>
               </li>
               <li>
                 <a href="#sl4">VENTANAS</a>
              </li>
           
              <li>
               <a href="#sl10">REJAS</a>
              </li>
              <li>
               <a href="#sl16">DIVICIONES DE BAÑO</a>
               </li>
               <li>
                  <a href="#sl13">REPISAS</a>
               </li>
            
            
            </ul>
            </div>

 

         <div class="container-door" >

   
    
            <ul class="slider1" id="sl10">

               <li  class="hp"><a href="#r1"><img src="{% static 'productos/img/reja1.jpg'%}" alt=""></a> </li>
               <li class="hp"> <a href="#r2"><img src="{% static 'productos/img/reja2.jpg'%}" alt=""></a></li>
               <li class="hp"><a href="#r3"><img src="{% static 'productos/img/reja3.jpg'%} " alt=""></a></li>
            </ul>
             
            
         </div>
         <div class="modal" id="r1">
            <h3>Rejas</h3>
            <div class="imagen">
                <a href="#r3">&#60;</a>&nbsp;
                <a href="#r2"> <img src="{% static 'productos/img/reja1.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                <a href="#r2"> > </a>
            </div>
         
            <a class="cerrar" href="#sl10">x</a>
         </div>
         <div class="modal" id="r2">
            <h3>Rejas</h3>
            <div class="imagen">
                <a href="#r1">&#60;</a>&nbsp;
                <a href="#r3"> <img src="{% static 'productos/img/reja2.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                <a href="#r3"> > </a>
            </div>
         
            <a class="cerrar" href="#sl10">x</a>
         </div>
         <div class="modal" id="r3">
            <h3>Rejas</h3>
            <div class="imagen">
                <a href="#r2">&#60;</a>&nbsp;
                <a href="#r1"> <img src="{% static 'productos/img/reja3.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                <a href="#r1"> > </a>
            </div>
         
            <a class="cerrar" href="#sl10">x</a>
         </div>
          
            </div>
         
            <ul class="menu-slider">
               <li>REJAS  </li> 
               
              
         
            </ul>
            <div>

               <ul class="menu-lineas"><br>
               
                  <li>
                     <a href="">PUERTAS</a>
                  </li>
                  <li>
                    <a href="#sl4">VENTANAS</a>
                 </li>
                 <li>
                    <a href="#sl7">PASAMANOS</a>
                 </li>
                 
                 <li>
                  <a href="#sl16">DIVICIONES DE BAÑO</a>
                  </li>
                  <li>
                     <a href="#sl13">REPISAS</a>
                  </li>
               
               
               </ul>
               </div>

            <div class="container-door" >

   
    
               <ul class="slider1" id="sl13">
                  
                  <li  class="hp"><a href="#re1"><img src="{% static 'productos/img/repisa1.jpeg'%}" alt=""></a></li>
                  <li class="hp"><a href="#re2"> <img src="{% static 'productos/img/repisa2.jpeg'%}" alt=""></a></li>
                  <li class="hp"><a href="#re3"><img src="{% static 'productos/img/repisa3.jpeg'%} " alt=""></a></li>
            
               </ul>
       
               
            </div>
            <div class="modal" id="re1">
               <h3>Repisas</h3>
               <div class="imagen">
                   <a href="#re3">&#60;</a>&nbsp;
                   <a href="#re2"> <img src="{% static 'productos/img/repisa1.jpeg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                   <a href="#re2"> > </a>
               </div>
            
               <a class="cerrar" href="#sl13">x</a>
            </div>
            <div class="modal" id="re2">
               <h3>Repisas</h3>
               <div class="imagen">
                   <a href="#re1">&#60;</a>&nbsp;
                   <a href="#re3"> <img src="{% static 'productos/img/repisa2.jpeg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                   <a href="#re3"> > </a>
               </div>
            
               <a class="cerrar" href="#sl13">x</a>
            </div>
            <div class="modal" id="re3">
               <h3>Repisas</h3>
               <div class="imagen">
                   <a href="#re2">&#60;</a>&nbsp;
                   <a href="#re1"> <img src="{% static 'productos/img/repisa3.jpeg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                   <a href="#re1"> > </a>
               </div>
            
               <a class="cerrar" href="#sl13">x</a>
            </div>
               
            
             
              <div>
            
                  <ul class="menu-slider">
                  <li>REPISAS  </li>
                  </ul>
               </div>
               <div>
                  <ul class="menu-lineas"><br>
                  
                     <li>
                        <a href="">PUERTAS</a>
                     </li>
                     <li>
                       <a href="#sl4">VENTANAS</a>
                    </li>
                    <li>
                       <a href="#sl7">PASAMANOS</a>
                    </li>
                    <li>
                     <a href="#sl10">REJAS</a>
                    </li>
                    <li>
                     <a href="#sl16">DIVICIONES DE BAÑO</a>
                     </li>
                  
                  
                  
                  </ul>
                  </div>


               <div class="container-door" >

   
    
                  <ul class="slider1" id="sl16">
                     
                     <li  class="hp"><a href="#b1"><img src="{% static 'productos/img/div1.jpg'%}" alt=""></a></li>
                     <li class="hp"> <a href="#b2"><img src="{% static 'productos/img/div2.jpg'%}" alt=""></a></li>
                     <li class="hp"><a href="#b3"><img src="{% static 'productos/img/div3.jpg'%} " alt=""></a></li>
               
                  </ul>
                
                   
                  
               </div>
               <div class="modal" id="b1">
                  <h3>Diviciones de baño</h3>
                  <div class="imagen">
                      <a href="#b3">&#60;</a>&nbsp;
                      <a href="#b2"> <img src="{% static 'productos/img/div1.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                      <a href="#b2"> > </a>
                  </div>
               
                  <a class="cerrar" href="#sl16">x</a>
               </div>
               <div class="modal" id="b2">
                  <h3>Diviciones de baño</h3>
                  <div class="imagen">
                      <a href="#b1">&#60;</a>&nbsp;
                      <a href="#b3"> <img src="{% static 'productos/img/div2.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                      <a href="#b3"> > </a>
                  </div>
               
                  <a class="cerrar" href="#sl16">x</a>
               </div>
               <div class="modal" id="b3">
                  <h3>Diviciones de baño</h3>
                  <div class="imagen">
                      <a href="#b2">&#60;</a>&nbsp;
                      <a href="#b1"> <img src="{% static 'productos/img/div3.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                      <a href="#b1"> > </a>
                  </div>
               
                  <a class="cerrar" href="#sl16">x</a>
               </div>
               
                
                  <div>
               
                  <ul class="menu-slider">
                     <li>DIVICIONES DE BAÑO </li>
                  </ul>

               </div>
                  <div>
                     <ul class="menu-lineas"><br>
                     
                        <li>
                           <a href="">PUERTAS</a>
                        </li>
                        <li>
                          <a href="#sl4">VENTANAS</a>
                       </li>
                       <li>
                          <a href="#sl7">PASAMANOS</a>
                       </li>
                       <li>
                        <a href="#sl10">REJAS</a>
                       </li>
                       <li>
                        <a href="#sl16">DIVICIONES DE BAÑO</a>
                        </li>
                        <li>
                           <a href="#sl13">REPISAS</a>
                        </li>
                     
                     
                     </ul>
                     </div>

{% endblock %}
