{% extends  "proyectoinoxidablesapp/base.html" %}

{% load static %}

{% block content %}





<div class="container-door" >

   
    
   <ul class="slider1" >
      
      <li  class="hp"><a href="#q1"><img src="{% static 'productos/img/cirugia1.jpg'%}" alt=""></a></li>
      <li class="hp"> <a href="#q2"><img src="{% static 'productos/img/cirugia2.png'%}" alt=""></a></li>
      <li class="hp"><a href="#q3"><img src="{% static 'productos/img/cirugia3.jpg'%} " alt=""></a></li>

   </ul>  
</div>

<div class="modal" id="q1">
   <h3>Mesa de cirugia</h3>
   <div class="imagen">
       <a href="#q3">&#60;</a>&nbsp;
       <a href="#q2"> <img src="{% static 'productos/img/cirugia1.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
       <a href="#q2"> > </a>
   </div>

   <a class="cerrar" href="">x</a>
</div>
<div class="modal" id="q2">
   <h3>Mesa de cirugia</h3>
   <div class="imagen">
       <a href="#q1">&#60;</a>&nbsp;
       <a href="#q3"> <img src="{% static 'productos/img/cirugia2.png'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
       <a href="#q3"> > </a>
   </div>

   <a class="cerrar" href="#">x</a>
</div>
<div class="modal" id="q3">
   <h3>Mesa de cirugia</h3>
   <div class="imagen">
       <a href="#q2">&#60;</a>&nbsp;
       <a href="#q1"> <img src="{% static 'productos/img/cirugia3.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
       <a href="#q1"> > </a>
   </div>

   <a class="cerrar" href="">x</a>
</div>
  <div>

   <ul class="menu-slider">
      <li>MESA DE CIRUGIA</li> &nbsp;&nbsp;
      
 </div>  
 <div>

   <ul class="menu-lineas"><br>
   
     
      <li>
        <a href="#sl4">MESA DE CONSULTORIO</a>
     </li>
     <li>
        <a href="#sl7">MESA DE PULUQUERIA</a>
     </li>
     <li>
      <a href="#sl10">JAULAS</a>
     </li>
     <li>
      <a href="#sl16">MESA AUXILIAR </a>
      </li>
      <li>
         <a href="#sl13">TINA DE BAÑO</a>
      </li>
   
   
   </ul>
   </div>
     

   
   
   <div class="container-door" >

   
    
      <ul class="slider1" id="sl4">
         
         <li  class="hp"><a href="#con1"><img src="{% static 'productos/img/consultorio1.jpeg'%}" alt=""></a></li>
         <li class="hp"> <a href="#con2"><img src="{% static 'productos/img/consultorio2.jpg'%}" alt=""></a></li>
         <li class="hp"><a href="#con3"><img src="{% static 'productos/img/consultorio3.webp'%} " alt=""></a></li>
   
      </ul>
    
       
      
   
   </div>
   <div class="modal" id="con1">
      <h3>Mesa  de consultorio</h3>
      <div class="imagen">
          <a href="#con3">&#60;</a>&nbsp;
          <a href="#con2"> <img src="{% static 'productos/img/consultorio1.jpeg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
          <a href="#con2"> > </a>
      </div>
   
      <a class="cerrar" href="#sl4">x</a>
   </div>
   <div class="modal" id="con2">
      <h3>Mesa  de consultorio</h3>
      <div class="imagen">
          <a href="#con1">&#60;</a>&nbsp;
          <a href="#con3"> <img src="{% static 'productos/img/consultorio2.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
          <a href="#con3"> > </a>
      </div>
   
      <a class="cerrar" href="#sl4">x</a>
   </div>
   <div class="modal" id="con3">
      <h3>Mesa  de consultorio</h3>
      <div class="imagen">
          <a href="#con2">&#60;</a>&nbsp;
          <a href="#con1"> <img src="{% static 'productos/img/consultorio3.webp'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
          <a href="#con1"> > </a>
      </div>
   
      <a class="cerrar" href="#sl4">x</a>
   </div>
   <div>
   
      <ul class="menu-slider">
         <li>MESA PARA CONSULTORIO </li> &nbsp;&nbsp;
       
      </ul>
   </div>
         
     
<div>

         <ul class="menu-lineas">
         
            <li>
               <a href="">MESA DE CIRUGIA</a>
            </li>
           
           <li>
              <a href="#sl7">MESA DE PELUQUERIA</a>
           </li>
           <li>
            <a href="#sl10">JAULAS</a>
           </li>
           <li>
            <a href="#sl13">TINA DE BAÑO</a>
            </li>
            <li>
               <a href="#sl16">MESA AUXILIAR</a>
            </li>
         
         
         </ul>
         </div>
     
 
      <div class="container-door" >

   
    
         <ul class="slider1" id="sl7">
            
            <li class="hp" ><a href="#pe1"><img src="{% static 'productos/img/peluqueria1.jpg'%}" alt=""></a></li>
            <li class="hp"> <a href="#pe2"><img src="{% static 'productos/img/peluqueria2.jpg'%}" alt=""></a></li>
            <li class="hp"><a href="#pe3"><img src="{% static 'productos/img/peluqueria3.jpg'%} " alt=""></a></li>
      
         </ul>
        
        
          
      </div>
      
       
      <div class="modal" id="pe1">
         <h3>Mesa auxiliar</h3>
         <div class="imagen">
             <a href="#pe3">&#60;</a>&nbsp;
             <a href="#pe2"> <img src="{% static 'productos/img/peluqueria1.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
             <a href="#pe2"> > </a>
         </div>
      
         <a class="cerrar" href="#sl7">x</a>
      </div>
      <div class="modal" id="pe2">
         <h3>Mesa auxiliar</h3>
         <div class="imagen">
             <a href="#pe1">&#60;</a>&nbsp;
             <a href="#pe3"> <img src="{% static 'productos/img/peluqueria2.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
             <a href="#pe3"> > </a>
         </div>
      
         <a class="cerrar" href="#sl7">x</a>
      </div>
      <div class="modal" id="pe3">
         <h3>Mesa auxiliar</h3>
         <div class="imagen">
             <a href="#pe2">&#60;</a>&nbsp;
             <a href="#pe1"> <img src="{% static 'productos/img/peluqueria3.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
             <a href="#pe1"> > </a>
         </div>
      
         <a class="cerrar" href="#sl7">x</a>
      </div>
      
         <ul class="menu-slider">
            <li>  MESA DE PELUQUERIA</li> &nbsp;&nbsp;
           
          
           
           
      
         </ul>
         <div>

            <ul class="menu-lineas"><br>
            
               <li>
                  <a href="">MESA DE CIRUGIA</a>
               </li>
               <li>
                 <a href="#sl4">MESA DE CONSULTORIO</a>
              </li>
              <li>
                 <a href="#sl10">JAULAS</a>
              </li>
              <li>
               <a href="#sl13">TINAS DE BAÑO</a>
              </li>
              <li>
               <a href="#sl16">MESA AUXILIAR</a>
               </li>
             
            
            
            </ul>
            </div>

 

         <div class="container-door" >

   
    
            <ul class="slider1" id="sl10">

               <li  class="hp"><a href="#ja1"><img src="{% static 'productos/img/JAULAS1.jpeg'%}" alt=""></a></li>
               <li class="hp"><a href="#ja2"> <img src="{% static 'productos/img/JAULAS2.jpeg'%}" alt=""></a></li>
               <li class="hp"><a href="#ja3"><img src="{% static 'productos/img/JAULAS3.jpeg'%} " alt=""></a></li>
      
            </ul>
             
            
         </div>
         
         <div class="modal" id="ja1">
            <h3>Jaulas</h3>
            <div class="imagen">
                <a href="#ja3">&#60;</a>&nbsp;
                <a href="#ja2"> <img src="{% static 'productos/img/JAULAS1.jpeg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                <a href="#ja2"> > </a>
            </div>
         
            <a class="cerrar" href="#sl10">x</a>
         </div>
         <div class="modal" id="ja2">
            <h3>Jaulas</h3>
            <div class="imagen">
                <a href="#ja1">&#60;</a>&nbsp;
                <a href="#ja3"> <img src="{% static 'productos/img/JAULAS2.jpeg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                <a href="#ja3"> > </a>
            </div>
         
            <a class="cerrar" href="#sl10">x</a>
         </div>
         <div class="modal" id="ja3">
            <h3>Jaulas</h3>
            <div class="imagen">
                <a href="#ja2">&#60;</a>&nbsp;
                <a href="#ja1"> <img src="{% static 'productos/img/JAULAS3.jpeg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                <a href="#ja1"> > </a>
            </div>
         
            <a class="cerrar" href="#sl10">x</a>
         </div>
         
            <ul class="menu-slider">
               <li>JAULAS </li> &nbsp;&nbsp;
               
              
              
         
            </ul>
            <div>

               <ul class="menu-lineas"><br>
               
                  <li>
                     <a href="">MESA DE CIRUGIA</a>
                  </li>
                  <li>
                    <a href="#sl4">MESA DE CONSULTORIO</a>
                 </li>
                 <li>
                    <a href="#sl7">MESA DE PELUQUERIA</a>
                 </li>
                 <li>
                  <a href="#sl13">TINA DE BAÑO</a>
                 </li>
                 <li>
                  <a href="#sl16">MESA AXULIAR</a>
                  </li>
                 
               
               
               </ul>
               </div>

            <div class="container-door" >

   
    
               <ul class="slider1" id="sl13">
                  
                  <li  class="hp"><a href="#ti1"><img src="{% static 'productos/img/tina1.jpg'%}" alt=""></a></li>
                  <li class="hp"><a href="#ti2"> <img src="{% static 'productos/img/tina2.png'%}" alt=""></a></li>
                  <li class="hp"><a href="#ti3"><img src="{% static 'productos/img/tina3.jpg'%} " alt=""></a></li>
            
               </ul>
             
                
               
            </div>
            
             
            <div class="modal" id="ti1">
               <h3>Tina de baño</h3>
               <div class="imagen">
                   <a href="#ti3">&#60;</a>&nbsp;
                   <a href="#ti2"> <img src="{% static 'productos/img/tina1.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                   <a href="#ti2"> > </a>
               </div>
            
               <a class="cerrar" href="#sl13">x</a>
            </div>
            <div class="modal" id="ti2">
               <h3>Tina de baño</h3>
               <div class="imagen">
                   <a href="#ti1">&#60;</a>&nbsp;
                   <a href="#ti3"> <img src="{% static 'productos/img/tina2.png'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                   <a href="#ti3"> > </a>
               </div>
            
               <a class="cerrar" href="#sl13">x</a>
            </div>
            <div class="modal" id="ti3">
               <h3>Tina de baño</h3>
               <div class="imagen">
                   <a href="#ti2">&#60;</a>&nbsp;
                   <a href="#ti1"> <img src="{% static 'productos/img/tina3.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                   <a href="#ti1"> > </a>
               </div>
            
               <a class="cerrar" href="#sl13">x</a>
            </div>
            
               <ul class="menu-slider">
                  <li>TINA DE BAÑO</li>
                 
            
               </ul>
               <div>

                  <ul class="menu-lineas"><br>
                  
                     <li>
                        <a href="">MESA DE CIRUGIA</a>
                     </li>
                     <li>
                       <a href="#sl4">MESA DE CONSULTORIO</a>
                    </li>
                    <li>
                       <a href="#sl7">MESA DE PELUQUERIA</a>
                    </li>
                    <li>
                     <a href="#sl10">JAULAS</a>
                    </li>
                    <li>
                     <a href="#sl16">MESA AUXILIAR</a>
                     </li>
                    
                  
                  
                  </ul>
                  </div>
               <div class="container-door" >

   
    
                  <ul class="slider1" id="sl16">
                     
                     <li  class="hp"><a href="#au1"><img src="{% static 'productos/img/AUX1.jpg'%}" alt=""></a></li>
                     <li class="hp"><a href="#au2"> <img src="{% static 'productos/img/AUX2.webp'%}" alt=""></a></li>
                     <li class="hp"><a href="#au3"><img src="{% static 'productos/img/AUX3.jpg'%} " alt=""></a></li>
               
                  </ul>
                
                  
               </div>
               
               <div class="modal" id="au1">
                  <h3>Mesa auxiliar</h3>
                  <div class="imagen">
                      <a href="#au3">&#60;</a>&nbsp;
                      <a href="#au2"> <img src="{% static 'productos/img/AUX1.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                      <a href="#au2"> > </a>
                  </div>
               
                  <a class="cerrar" href="#sl16">x</a>
               </div>
               <div class="modal" id="au2">
                  <h3>Mesa auxiliar</h3>
                  <div class="imagen">
                      <a href="#au1">&#60;</a>&nbsp;
                      <a href="#au3"> <img src="{% static 'productos/img/AUX2.webp'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                      <a href="#au3"> > </a>
                  </div>
               
                  <a class="cerrar" href="#sl16">x</a>
               </div>
               <div class="modal" id="au3">
                  <h3>Mesa auxiliar</h3>
                  <div class="imagen">
                      <a href="#au2">&#60;</a>&nbsp;
                      <a href="#au1"> <img src="{% static 'productos/img/AUX3.jpg'%}" alt="" ></a>&nbsp;&nbsp;&nbsp;
                      <a href="#au1"> > </a>
                  </div>
               
                  <a class="cerrar" href="#sl16">x</a>
               </div>
               
                  <ul class="menu-slider">
                     <li>MESA AUXILIAR</li> &nbsp;&nbsp;
                     
                  </ul>
                  <div>

                     <ul class="menu-lineas"><br>
                     
                        <li>
                           <a href="">MESA DE CIRUGIA</a>
                        </li>
                        <li>
                          <a href="#sl4">MESA DE CONSULTORIO</a>
                       </li>
                       <li>
                          <a href="#sl7">MESA DE PELUQUERIA</a>
                       </li>
                       <li>
                        <a href="#sl10">JAULAS</a>
                       </li>
                       <li>
                        <a href="#sl13">TINA DE BAÑO</a>
                     </li>
                       
                      
                     
                     
                     </ul>
                     </div>

{% endblock %}
