body {
  font-family: 'Lora';
  background-color: #ffffff;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
}



p {
  line-height: 1.75;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Raleway';
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom:.5rem;

}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}


.section-heading .section-heading-under {
  display: block;
  font-size: 1rem;
  text-transform: none;
  font-weight: 300;
  margin-top:.5rem;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}                

header{                                               
  width: 100%;
  position: fixed;
  z-index: 100;
  
}

#mainNav {
  background-color: rgb(128, 130, 133);
  font-family: 'Raleway';

}

#mainNav .navbar-brand {
  color: #ffffff;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #ffffff;
  text-decoration: underline;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: underline;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: left;
  }
  .intro .intro-text {
    left: 600;
    width: 60%;
    margin-top: 3rem;
    background-color: rgb(149, 150, 155);
    color: cornsilk;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(242, 245, 240);
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgb(112, 116, 111);
  color: cornsilk;
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

.cta .cta-innerv {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
  }
  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }
  .product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}



@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address strong {
  font-size: 1.2rem;
}

.footer {
  margin-top: 20px;
   background-color: rgba(113, 116, 111, 0.8);
}



.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}



.font-weight-light {
  font-weight: 100 !important;
}

.mbtm{
  padding-top: 5rem;
}

.mbt{
  padding-top: 2rem;
}

.mbt1{
  padding-top: 1.25rem;
}

a.link{
  color: rgba(255, 255, 255, 0.7);
}

a.link:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.section-content{
  font-family: 'Lora' !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
}

ul.errorlist{
  padding-top: .75rem;
  font-style: italic;
  color: red;
}

.linksCategorias{

color: white !important;

text-decoration: underline;

}

.linksCategorias:hover{

  text-decoration: none;
}



/*titulo de la lineas del home*/
#title{
  margin-top: 40px;
  text-align: center;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  
  text-decoration-line: underline;
  
}

#linea{
  
  font-size: small;
  margin-top: 30px ;
  
  

}


#iconos{
  display: flex;
  align-content: flex-start;
  margin-top: 30px;
 
  
}

.iconos1,
.iconos2,
.iconos3,
.iconos4,
.iconos5{

  margin-inline-start: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
 


}



.contamos{
 
 margin-inline-end: auto;
 
 text-justify: auto;
 
 text-align: center;
 font-size: small;
 
 padding-left: 50px;
 padding-right: 50px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 
 
 
}




 
 
.card-deck{
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;


}



.targetasproyectos{

  background-color: mediumblue;
}

.card{

  margin-top: 30px;

  margin-bottom: 100px;
  
}

.titleproyectos{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    padding-top: 20px;
    text-align: center;
    

}
.logo1{
  display: flex;
  margin-top: 20px;
  margin-left: 5px;
  width: 10%;
  
}

/* icono wathsapp */

.iconowatsap{

margin-top: -250px;
width: 10%;
margin-left: 83%;
padding-right: 5px;
position: fixed;
z-index: 100;
}

/*productos*/



.resi,
.indu,
.hospi,
.vete,
.imno{

margin-top: 50px;
margin-left: auto;
margin-right: auto;


}

.titlepro{
  text-align: center;
  text-decoration-line: underline;
}

.linksCategoriasblog{

  color:black ;
  text-decoration: underline;
}

.linksCategoriasblog:hover{
  text-decoration: none;



}

.contenedorForm{


  
  margin:  auto;
  border-radius: 5px;
  padding: 1px 0px;
 
 

}

/*  linea gallerys */

.container-door{


width: 100%;
height: 680px;
margin: auto;
position: relative;
padding: 30px;


}


.slider1{
  

align-content: center;
display: grid;
grid-gap: 2px ;
grid-template-columns: repeat(3 , 1fr);
list-style: none;
width: inherit;
height: inherit;
left: 0;
top: 0px;
opacity: 0;
position: absolute;

transition: opacity .5s;
transition: all;


}

ul.slider1 li img{
  margin-top: 100px;
  width: 100%;
  height:500px ;
  border-radius: 10px;

}


ul.slider1:first-child{
 
  
  opacity: 1;
}

ul.slider1:target{ 
  
  opacity: 1; 
  
}

.menu-slider{
  text-align: center;
  
  
}

.menu-slider li{
  display: inline-block;
  text-align: center;
}

.menu-slider li a{
  
 
  text-decoration: none;
  

  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 15px;
  border-radius: 20%;
 
  
  


}

.menu-slider li a:hover{

  background-color: gray;

  color: white;
  border-bottom: gray;

  

}



.menu-lineas{
  
  text-align: center;
  margin: auto;
  margin-top: 0;
  

  
  
  

 



}


.menu-lineas li{
  display: inline-block;
  text-align: center;
  margin: auto;
  border-radius: 5px;
 
  
}
.menu-lineas li a{
  
  
 text-decoration: none;

  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 12px;
 

}

.menu-lineas li a:hover{

  background-color: slategrey;
  color: white;
  border-style: hidden;
  border-radius: 10px;
  font-size: 15px;

}


/* imagenes finales*/


.modal{
  display: none;
}

.modal:target {
  display: block;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.modal h3{
  color: #fff;
  font-size: 30px;
  text-align:center;
  margin: 15px 0;

}
.imagen{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen a{
  color: #ffff;
  font-size: 40px;
  text-decoration: none;
  margin: o 10px;
}
.imagen a:nth-child(2){
  margin: 0;
  height: 100%;
  flex-shrink: 2 ;
}

.imagen img{
  width: 800px;
  height: 100%;
  max-width: 100%;
  border: 7px solid #fff;

}

.cerrar{
  display: block;
  background: #fff;
  width: 25px;
  height: 25px;
  margin: 20px auto;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  border-radius: 50%;
  line-height: 25px;


}









  

  









 













